.sidebar-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  padding-top: 10px;
  max-height: 100vh;
}

.sidebar-user-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15vw;
  height: 5vh;
  padding-left: 10px;
  margin-bottom: 10px;
}

.ingame-header {
  color: greenyellow;
  margin-top: 0;
  margin-bottom: 5px;
}

.ingame-details {
  color: greenyellow;
  margin-top: 5px;
  margin-bottom: 0;
}

.offline-text {
  color: grey;
}

.online-text,
.busy-text,
.away-text,
.snooze-text,
.looking-for-trade-text,
.looking-to-play-text {
  color: #50b2c4;
  margin-top: 5px;
  margin-bottom: 5px;
}

.friend-list,
.games {
  margin-bottom: 10px;
}
