.login-btn-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5vh;
  background-color: rgb(29, 29, 32);
}

.user-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatar-small-cont {
  position: relative;
  width: 32px;
  height: 32px;
  max-width: 32px;
  max-height: 32px;
}

.user-text {
  padding-left: 10px;
}

.wishlist-btn {
  padding-right: 10px;
}
