<div class="header">
  @if (this.userService.hasUser) {
    <div class="user-details">
      <div class="user-info">
        <div class="avatar-small-cont">
          <img alt="Steam user avatar" priority fill appImageFallback="assets/no_avatar.jpg" [ngSrc]="avatar !== undefined ? avatar : 'assets/no_avatar.jpg'">
        </div>
        <div class="title-text user-text">Welcome, {{ user?.displayName }}</div>
      </div>
      <div class="wishlist-btn">
        <button type="button" (click)="openWishlistDialog()">Wishlist</button>
      </div>
      <div>
        <button type="button" (click)="logOutClicked()">Logout</button>
      </div>
    </div>
  }
  @if (!this.userService.hasUser) {
    <div class="login-btn-cont">
      <button type="button" class="login-btn" (click)="loginClicked()" >
        <img alt="Steam login button" ngSrc="assets/steam_login.png" width="180" height="35" priority />
      </button>
    </div>
  }
</div>
