<div class="header">
  @if (this.userService.hasUser) {
    <div class="user-details">
      <div class="user-info">
        <div class="avatar-small-cont">
          <img alt="Steam user avatar" priority fill appImageFallback="assets/no_avatar.jpg" [ngSrc]="avatar !== undefined ? avatar : 'assets/no_avatar.jpg'">
        </div>
        <div class="title-text user-text">Welcome, {{ user?.displayName }}</div>
      </div>
      <button type="button" class="header-btn" (click)="openWishlistDialog()" >
        <img alt="mock wishlist button" ngSrc="assets/wishlist_btn.png" width="144" height="28" priority />
      </button>
      <button type="button" class="header-btn" (click)="logOutClicked()" >
        <img alt="mock logout button" ngSrc="assets/logout_btn.png" width="144" height="28" priority />
      </button>
    </div>
  }
  @if (!this.userService.hasUser) {
    <div class="login-btn-cont">
      <button type="button" class="header-btn" (click)="loginClicked()" >
        <img alt="Steam login button" ngSrc="assets/steam_login.png" width="180" height="35" priority />
      </button>
    </div>
  }
</div>
