<div class="page-cont">
  <div class="header">
    @if (hasUser) {
      <div>Welcome, {{ user?.displayName }}</div>
    }
    <button type="button" (click)="logOutClicked()">Logout</button>
  </div>
  <div class="library-panel">
    @if (hasLibrary) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ user?.displayName }}'s Games</mat-panel-title>
          <mat-panel-description>Number of games: {{ library.game_count }}</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="mat-expansion-panel-body">
          <mat-form-field class="games-input-field" appearance="outline">
            <mat-label>Search Games</mat-label>
            <input matInput type="text" [formControl]="filterLibraryControl">
          </mat-form-field>
          <cdk-virtual-scroll-viewport class="games-scroll" [itemSize]="library.game_count">
            <div class="game-cards-cont">
              @for (game of filteredLibrary; track game.name) {
                <mat-card appearance="outlined">
                  <mat-card-content class="game-card">
                    <div>
                      <img height="53.75" width="115" mat-card-image [alt]="`Steam library photo for ${game.name}`" [ngSrc]="`https://steamcdn-a.akamaihd.net/steam/apps/${game.appid}/header.jpg`">
                    </div>
                    <div>
                      <div class="details-header">Hours Played</div>
                      <div class="details-text">Total: {{ game.playtime_forever }}</div>
                      <div class="details-text">Two Weeks: {{ game.playtime_2weeks }}</div>
                      <div class="details-text">Steam Deck: {{ game.playtime_deck_forever }}</div>
                    </div>
                  </mat-card-content>
                </mat-card>
              }
            </div>
          </cdk-virtual-scroll-viewport>
        </div>
      </mat-expansion-panel>
    }
  </div>
</div>
