@use '@angular/material' as mat;

.friend-list-cont {
  display: flex;
  flex-direction: column;
  width: 200px;
  border: 1px solid black;
}

.friend-list-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  border: 1px solid black;
}

.search-form-cont {
  display: flex;
  align-items: center;
}

.friend-list-scroll {
  width: 200px;
  height: 25vh;
  border: 1px solid black;
}

.friend-cards-cont {
  width: 200px;
}

.friend-card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  padding: 5px 5px 5px 10px !important;
}

.friend-details {
  width: 100%;
}

.friend-name,
.friend-online {
  margin: 0 0 0 10px;
}

.friend-avi {
  border: 2px solid greenyellow;
}
