.page-cont {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  padding-top: 10px;
}

.nameplate {
  width: 90%;
}

.recent-games {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}
