.library-panel {
  width: 15vw;
}

.games-header-desc {
  font-size: smaller;
}

.games-scroll {
  width: 15vw;
  height: 40vh;
  border: 1px solid black;
}

.game-cards-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.game-card {
  display: flex;
  flex-direction: row;
  width: 14.5vw;
  height: 53.75px;
}

.mat-mdc-card-content:first-child {
  padding: 0px;
}

.mat-mdc-card-content:last-child {
  padding: 0px;
}

.game-btn-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.details-cont h6 {
  height: 10px;
  font-size: 0.7em;
  white-space: nowrap;
}

.details-cont small {
  height: 10px;
  font-size: 0.5em;
  white-space: nowrap;
}

.details-text {
  margin: 0px;
}

.details-name {
  font-size: small;
  max-width: 100%;
  padding: 0px 10px 0px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.games-input-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .library-panel,
  .game-cards-cont,
  .game-card,
  .games-scroll {
    width: 23vw;
  }
}

.details-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  container-type: inline-size;
  width: 100%;
  position: relative;
}

.details-hours-cont {
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
}

.details-cont:hover .details-hours-cont {
  opacity: 1;
}

.details-cont:hover .details-name {
  opacity: 0;
}
