.friend-dialog-cont {
  height: 67.54vh;
}

.friend-dialog-tabs {
  display: flex;
  flex-direction: column;
}

.recent-games-cont,
.library-tab {
  height: 100%;
}

::ng-deep .mat-mdc-tab.mdc-tab {
  min-width: auto !important; /* Or a specific pixel value */
  padding: 0 5px; /* Adjust padding as needed */
  background-color: rgba(11, 11, 16, 0.3);
}

.mat-tab-body-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-tab-body,
.mat-tab-body-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.friend-dialog-tabs .mat-mdc-tab-header {
  overflow: hidden;
}

.friend-dialog-tabs .mat-mdc-tab-list {
  overflow-x: auto;
  white-space: nowrap;
}

.friend-dialog-tabs .mat-mdc-tab-list {
  flex: 0 0 200px;
  text-align: center;
  box-sizing: border-box;
}

.grid-container {
  height: 100%;
}

::ng-deep app-grid {
  .component {
    margin: 0px 30px 0px 30px !important;
    .grid-container {
      margin-bottom: 0px !important;
      ag-grid-angular {
        height: 35vh !important;
      }
    }
  }
}

.private-library {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
