.nameplate-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 25vh;
  border: 5px solid black;
}

.nameplate-av-name-cont {
 display: flex;
 flex-direction: row;
 align-items: center;
 margin-left: 10px;
}

.name-details-cont {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 10px;
}

.name-cont {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: end;
}

.name-cont {
  h1 {
    margin: 0px;
    padding-right: 10px;
  }
  .fi {
    padding-bottom: 15px;
  }
}

.nameplate-details-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20vh;
  justify-content: space-between;
  margin-right: 10px;
}

.level-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.level-details-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.level-details-cont h3 {
  padding-right: 10px;
  font-size: 3vh;
}

.created-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nameplate-details-cont h4, p {
  margin: 0;
}

.last-login {
  font-size: small;
}
