.nameplate-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 25vh;
}

.nameplate-av-name-cont {
 display: flex;
 flex-direction: row;
 align-items: center;
 margin-left: 20px;
}

.avatar-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 184px;
  height: 184px;
  max-width: 184px;
  max-height: 184px;
}

.avatar-full-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 184px;
  height: 184px;
  max-width: 184px;
  max-height: 184px;
}

.avatar-frame-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 224px;
  height: 224px;
  max-width: 224px;
  max-height: 224px;
}

.name-details-cont {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 10px;
}

.name-cont {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: end;
}

.name-cont {
  h1 {
    margin: 0px;
    padding-right: 10px;
  }
  .fi {
    padding-bottom: 15px;
  }
}

.nameplate-details-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20vh;
  justify-content: space-between;
  margin-right: 10px;
}

.level-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.level-details-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.level-details-cont h3 {
  padding-right: 10px;
  font-size: 3vh;
}

.created-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nameplate-details-cont h4, p {
  margin: 0;
}

.last-login {
  font-size: small;
}
