.nameplate-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nameplate-av-name-cont {
 display: flex;
 flex-direction: row;
 align-items: center;
}
