<div class="friend-list-cont">
  <mat-expansion-panel>
    <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px">
      <mat-panel-description class="friend-list-header-desc">Friends: {{ friendListLength }}</mat-panel-description>
    </mat-expansion-panel-header>
    <div class="friend-list-search">
      <mat-form-field class="search-field" subscriptSizing="dynamic">
        <input class="search-input" type="text" placeholder="Search..." aria-label="Search friends..." matInput [formControl]="filterFriendListControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          @for (friend of filteredFriends; track friend.displayName) {
            <mat-option [value]="friend">{{ friend.displayName }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <div class="all-friends-btn-cont">
        <button class="all-friends-btn" type="button" matButton="elevated">Show all</button>
      </div>
    </div>
    <cdk-virtual-scroll-viewport class="friend-list-scroll" [itemSize]="onlineFriends.length">
      <div class="friend-cards-cont">
        @for (friend of filteredFriends; track friend.displayName) {
          <mat-card class="friend-card" appearance="outlined">
            <mat-card-content class="friend-card-content">
              <div class="friend-btn-cont">
                <button class="friend-btn" type="button" (click)="openFriendDialog(friend)">
                  <div class="avatar-cont">
                    <div class="avatar-full-cont">
                      <img alt="Steam user avatar" priority fill [ngSrc]="friend.profileItems.animatedAvatar.imageSmallURL !== '' ? friend.profileItems.animatedAvatar.imageSmallURL : friend.avatars.avatar">
                    </div>
                    @if (friend.profileItems.avatarFrame.imageLargeURL !== '') {
                    <div class="avatar-frame-cont">
                      <img alt="Steam user avatar frame" priority fill [ngSrc]="friend.profileItems.avatarFrame.imageLargeURL">
                    </div>
                    }
                  </div>
                </button>
              </div>
              <div class="friend-details">
                <h5 class="friend-name">{{ friend.displayName }}</h5>
                @if (friend.currentGameName) {
                  <div class="friend-online">{{ friend.currentGameName }}</div>
                }
                @else {
                  <div class="friend-online">Online</div>
                }
              </div>
            </mat-card-content>
          </mat-card>
        }
        @if (showNoFriends) {
          <p>No friends, eh?</p>
        }
      </div>
    </cdk-virtual-scroll-viewport>
  </mat-expansion-panel>
</div>
