@use '@angular/material' as mat;

.friend-list-cont {
  width: 15vw;
}

.friend-list-header-desc {
  font-size: smaller;
}

.friend-list-scroll {
  width: 15vw;
  height: 40vh;
  border: 1px solid black;
}

.friend-list-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15vw;
  border: 1px solid black;
}

.search-form-cont {
  display: flex;
  align-items: center;
  width: 75%;
}

.search-form-cont mat-form-field {
  width: 100%;
}

.all-friends-btn-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friend-cards-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 14vw;
}

.friend-card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 15vw;
}

.friend-btn-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.friend-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.friend-details {
  width: 75%;
  text-overflow: ellipsis;
}

.friend-name,
.friend-online {
  max-width: 100%;
  margin: 0 0 0 10px;
  line-height: 1.25;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.friend-online {
  font-size: 10px;
}

.friend-avi {
  border: 2px solid greenyellow;
}

@media screen and (max-width: 900px) {
  .friend-list-cont,
  .friend-list-search,
  .friend-card,
  .friend-list-scroll,
  .friend-cards-cont {
    width: 23vw;
  }
}

@media screen and (max-width: 900px) {
  .search-form-cont {
    width: 50%;
  }
}
