<div #recentGamesCont class="recent-games-cont gradient-background">
  <p-carousel #recentGamesCarousel class="recent-game-carousel" [value]="recentlyPlayedGames" [numVisible]="numVisible" [numScroll]="numScroll" [circular]="true" [responsiveOptions]="responsiveOptions">
    <ng-template #header>
      <div class="header-cont toolbar-gradient toolbar-row">
        <h3 class="title-text">Recent Activity</h3>
        <h3 class="title-text">{{ recentPlayTime }} hours past 2 weeks</h3>
      </div>
    </ng-template>
    <ng-template #item let-recent>
      @for (game of [recent]; track game.name) {
        <div class="game-cont">
          <div class="img-hour-cont">
            <img class="game-img" fill priority appImageFallback="assets/cover_not_available.png" [ngSrc]="`https://steamcdn-a.akamaihd.net/steam/apps/${game.appId}/header.jpg`" [alt]="game.name"/>
            <div class="game-hours-overlay">
              <div class="hours-cont">
                <h4 class="hour-title title-text">Total</h4>
                <p class="hour-value title-text">{{ game.playtimeForever }} hours</p>
              </div>
              <div class="hours-cont">
                <h4 class="hour-title title-text">Two Weeks</h4>
                <p class="hour-value title-text">{{ game.playtime2Weeks }} hours</p>
              </div>
              <div class="hours-cont">
                <h4 class="hour-title title-text">Steam Deck</h4>
                <p class="hour-value title-text">{{ game.playtimeDeckForever }} hours</p>
              </div>
            </div>
          </div>
          <div class="game-details">
            <h3 class="title-text">{{ game.name }}</h3>
            <div class="game-last-played">
              <h4 class="title-text">Last Played On</h4>
              @if (!isFriend) {
                <p class="title-text">{{ game.dateLastPlayed | date: 'mediumDate' }}</p>
              }
              @else {
                <p class="title-text">N/A</p>
              }
            </div>
            <button class="std-btn-width" type="button" (click)="openGameDialog(game)">See Details</button>
          </div>
        </div>
      }
    </ng-template>
  </p-carousel>
</div>
